.billing-container {
    margin: 0 auto;

    .patient-details {
        border: 1px solid var(--surface-border);
    }

    .billing-summary {
        border: 1px solid var(--surface-border);
        box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);
    }

    ::ng_deep {
        .p-datatable.p-datatable-sm .p-datatable-thead>tr>th {
            background-color: var(--surface-100);
            color: var(--text-color-secondary);
            font-weight: 600;
        }

        .p-inputtext-sm {
            font-size: 0.875rem;
        }
    }
}