.patient-registry-page {
  .p-datatable-professional {
    .p-datatable-thead>tr>th {
      padding: 1.5rem 1rem;
      border-top: none !important;
    }

    .p-datatable-tbody>tr>td {
      padding: 1.25rem 1rem;
      border-bottom: 1px solid #f1f5f9 !important;
    }
  }

  .professional-input {
    background: #f8fafc !important;
    border: 1px solid #e2e8f0 !important;
    border-radius: 8px !important;

    &:focus {
      background: white !important;
      border-color: var(--primary-color) !important;
      box-shadow: 0 0 0 4px rgba(var(--primary-color-rgb), 0.1) !important;
    }
  }

  .py-10 {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .line-height-3 {
    line-height: 1.5;
  }
}



::ng-deep .mb-4 {
  margin-bottom: 1.5rem;
}

::ng-deep .mb-3 {
  margin-bottom: 1rem;
}

::ng-deep .mr-2 {
  margin-right: 0.5rem;
}

::ng-deep .p-4 {
  padding: 1.5rem;
}